<div class="flex items-center justify-center h-screen" action="<%=`/subscribers/${subscriber._id}/update?_method=PUT`%>" method="POST">
    <div class="bg-gray-800 flex flex-col w-80 border border-gray-900 rounded-lg px-8 py-10">
     <div class="text-white mt-10">
       <h1 class="font-bold text-4xl">Welcome</h1>
       <p class="font-semibold">Edit the existing Subscriber</p>
     </div>
     <form class="flex flex-col space-y-8 mt-10" action="<%=`/subscribers/${subscriber._id}/update?_method=PUT`%>" method="POST">
       <input type="text" placeholder="Name" class="border rounded-lg py-3 px-3 bg-gray-700 border-gray-700 placeholder-gray-500 text-white" name='name' placeholder=' ' value="<%=subscriber.name%>" autofocus required>
       <input type="text" placeholder="Email" class="border rounded-lg py-3 px-3 bg-gray-700 border-gray-700 placeholder-gray-500 text-white" name='email' value="<%=subscriber.email%>" required>
       <input type="number" placeholder="ZipCode" class="border rounded-lg py-3 px-3 bg-gray-700 border-gray-700 placeholder-gray-500 text-white" name='zipCode' value="<%=subscriber.zipCode%>" required>
       <button class="border border-white bg-yellow-400 text-black rounded-lg py-3 font-semibold">Submit</button>
     </form>
   </div>
</div>